In [3]:
# Step 1: Import required libraries
import pandas as pd
import numpy as np

In [5]:
!pip install seaborn

Requirement already satisfied: seaborn in f:\miniconda\envs\ai_env\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in f:\miniconda\envs\ai_env\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: pandas>=1.2 in f:\miniconda\envs\ai_env\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in f:\miniconda\envs\ai_env\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\miniconda\envs\ai_env\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in f:\miniconda\envs\ai_env\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in f:\miniconda\envs\ai_env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [6]:
!pip install matplotlib

Requirement already satisfied: matplotlib in f:\miniconda\envs\ai_env\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in f:\miniconda\envs\ai_env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in f:\miniconda\envs\ai_env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [7]:
 !pip install scikit-learn

Requirement already satisfied: scikit-learn in f:\miniconda\envs\ai_env\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in f:\miniconda\envs\ai_env\lib\site-packages (from scikit-learn) (2.0.1)
Requirement already satisfied: scipy>=1.8.0 in f:\miniconda\envs\ai_env\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in f:\miniconda\envs\ai_env\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\miniconda\envs\ai_env\lib\site-packages (from scikit-learn) (3.6.0)

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [10]:
# Step 2: Load the dataset
df = pd.read_csv('tested.csv')

In [11]:
# Step 3: Understand the structure of the dataset
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [12]:
print("\nDataset information:")
print(df.info())

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

In [13]:
print("\nSummary statistics:")
print(df.describe(include='all'))

Summary statistics:
        PassengerId    Survived      Pclass                      Name   Sex  \
count    418.000000  418.000000  418.000000                       418   418
unique          NaN         NaN         NaN                       418     2
top             NaN         NaN         NaN  Peter, Master. Michael J  male
freq            NaN         NaN         NaN                         1   266
mean    1100.500000    0.363636    2.265550                       NaN   NaN
std      120.810458    0.481622    0.841838                       NaN   NaN
min      892.000000    0.000000    1.000000                       NaN   NaN
25%      996.250000    0.000000    1.000000                       NaN   NaN
50%     1100.500000    0.000000    3.000000                       NaN   NaN
75%     1204.750000    1.000000    3.000000                       NaN   NaN
max     1309.000000    1.000000    3.000000                       NaN   NaN

               Age       SibSp       Parch    Ticket        Fare  \
count   332.000000  418.000000  418.000000       418  417.000000
unique         NaN         NaN         NaN       363         NaN
top            NaN         NaN         NaN  PC 17608         NaN
freq           NaN         NaN         NaN         5         NaN
mean     30.272590    0.447368    0.392344       NaN   35.627188
std      14.181209    0.896760    0.981429       NaN   55.907576
min       0.170000    0.000000    0.000000       NaN    0.000000
25%      21.000000    0.000000    0.000000       NaN    7.895800
50%      27.000000    0.000000    0.000000       NaN   14.454200
75%      39.000000    1.000000    0.000000       NaN   31.500000
max      76.000000    8.000000    9.000000       NaN  512.329200

                  Cabin Embarked
count                91      418
unique               76        3
top     B57 B59 B63 B66        S
freq                  3      270
mean                NaN      NaN
std                 NaN      NaN
min                 NaN      NaN
25%                 NaN      NaN
50%                 NaN      NaN
75%                 NaN      NaN
max                 NaN      NaN

In [16]:
# Step 4: Check missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [17]:
# Drop columns with too many missing values or uninformative
df.drop(['Cabin', 'Ticket', 'Name', 'PassengerId'], axis=1, inplace=True)

# Fill missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'].fillna(df['Fare'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Verify no more missing values
print("\nMissing values after filling:")
print(df.isnull().sum())

Missing values after filling:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

C:\Users\Muhammad Saeed\AppData\Local\Temp\ipykernel_14464\793422522.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\Muhammad Saeed\AppData\Local\Temp\ipykernel_14464\793422522.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].median(), inplace=True)
C:\Users\Muhammad Saeed\AppData\Local\Temp\ipykernel_14464\793422522.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [18]:
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print(f"\nCategorical columns to encode: {list(categorical_cols)}")

# Use LabelEncoder for binary/multiclass classification
le_dict = {}  # to keep track of encoders for inverse transformation

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    le_dict[col] = le
    print(f"Encoded '{col}' with mapping: {dict(zip(le.classes_, le.transform(le.classes_)))}")

Categorical columns to encode: ['Sex', 'Embarked']
Encoded 'Sex' with mapping: {'female': np.int64(0), 'male': np.int64(1)}
Encoded 'Embarked' with mapping: {'C': np.int64(0), 'Q': np.int64(1), 'S': np.int64(2)}

In [19]:
# Final check
print("\nData types after encoding:")
print(df.dtypes)

print("\nFinal preprocessed dataset:")
print(df.head())

# Save preprocessed dataset
df.to_csv("titanic_labeled.csv", index=False)
print("\n✅ Labeled dataset saved as 'titanic_labeled.csv'")

Data types after encoding:
Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked      int64
dtype: object

Final preprocessed dataset:
   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  34.5      0      0   7.8292         1
1         1       3    0  47.0      1      0   7.0000         2
2         0       2    1  62.0      0      0   9.6875         1
3         0       3    1  27.0      0      0   8.6625         2
4         1       3    0  22.0      1      1  12.2875         2

✅ Labeled dataset saved as 'titanic_labeled.csv'